/* reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.menuMobile {
  display: none; }

/*nosotros*/
.somos {
  background-color: #f5dce1;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 15px;
  font-weight: bold; }

.textoNosotros {
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f5dce1;
  margin: 0; }

.tituloSecu {
  margin-top: 10px;
  text-align: center; }

ul .texto {
  margin: 0;
  list-style: none; }

/*Productos*/
.colorSecu {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold; }

.marcas {
  font-family: "Roboto", sans-serif;
  text-align: center; }

ul .adicional {
  background-color: #f5dce1; }

/*Cultivo*/
.tituloSecu {
  list-style: none; }

div .parrafoUno {
  list-style: none; }

.colorSemillas {
  list-style: none; }

.claseVideo {
  width: 400px;
  height: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px; }

.planta {
  width: 400px;
  height: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px; }

/*contacto*/
.formulario {
  margin: 10px 50px 50px 10px;
  background-image: linear-gradient(to bottom, white, #f5dce1);
  box-shadow: 3px 2px;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.colorForm {
  color: black;
  text-align: center; }

.colorNombre {
  color: black; }

.colorApellido {
  color: black; }

.colorEmail {
  color: black; }

/*mediaqueries*/
@media (max-width: 576px) and (min-width: 280px) {
  body {
    background-color: #f5dce1; }
  .menuNuevo {
    background-color: #f5dce1; }
  .somos {
    background-color: #f5dce1; }
  .ig {
    width: 3%;
    height: 3%; }
  .tw {
    width: 3%;
    height: 3%; } }

ul .texto, .tituloSecu {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold; }

/* index*/
body {
  background-color: #f5dce1; }

.tiendaGrow {
  text-shadow: 2px 2px black;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: green; }

header {
  margin: 10px 5px 5px 5px; }

.menuNuevo {
  display: flex;
  justify-content: right;
  position: sticky;
  margin-top: 30px; }
  .menuNuevo ul li {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    list-style: none;
    color: black;
    margin-top: 30px;
    background-color: #f5dce1;
    display: inline-block;
    margin: 2px;
    padding: 4px;
    position: relative; }

a {
  font-weight: bold;
  text-decoration: none;
  color: black; }

@keyframes claselogo {
  from {
    transform: scale(0.5); }
  to {
    transform: scale(1); } }

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .mainContainer .claseLogo {
    width: 400px;
    height: 400px;
    margin: 10px;
    animation-name: claselogo;
    animation-iteration-count: initial;
    animation-duration: 5s;
    animation-timing-function: linear;
    position: relative; }
  .mainContainer .colorPro {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    color: gray; }

.colorPro {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: gray; }

div .tres {
  display: flex;
  width: 15%;
  margin-top: 5px; }

div .subtitulo {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 20px; }

.piePagina {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border: 1px double gray; }
  .piePagina div .redes {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: 0;
    display: contents; }

.ig {
  display: flex;
  width: 3%;
  height: 4%; }

.tw {
  display: flex;
  width: 3%;
  height: 4%;
  margin-top: 10px; }

.imagenUno {
  display: none; }

#colorSub {
  text-align: center; }
