/* reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.menuMobile {
  display: none; }

/*nosotros*/
.somos {
  background-color: black;
  color: #f5dce1;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: #f5dce1;
  margin-top: 15px;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif; }

.textoNosotros {
  color: #f5dce1;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: #f5dce1;
  background-color: black;
  margin: 0;
  font-family: "Titillium Web", sans-serif; }

.tituloSecu {
  margin-top: 10px;
  text-align: center;
  color: #f5dce1;
  font-family: "Titillium Web", sans-serif; }

ul .texto {
  margin: 0;
  list-style: none;
  color: #f5dce1;
  font-family: "Titillium Web", sans-serif; }

/*Productos*/
.colorSecu {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: #f5dce1;
  font-weight: bold; }

.marcas {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: #f5dce1; }

ul .adicional {
  background-color: #f5dce1; }

/*Cultivo*/
.tituloSecu {
  list-style: none;
  color: #f5dce1; }

div .parrafoUno {
  list-style: none;
  color: #f5dce1; }

.colorSemillas {
  list-style: none;
  color: #f5dce1; }

.planta {
  width: 40%;
  height: 440%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px; }

/*contacto*/
.formulario {
  margin: 10px 50px 50px 10px;
  background-color: transparent;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: #f5dce1; }

.colorForm {
  color: #f5dce1;
  text-align: center; }

.colorNombre {
  color: #f5dce1; }

.colorApellido {
  color: #f5dce1; }

.colorEmail {
  color: #f5dce1; }

/*mediaqueries*/
@media (max-width: 576px) and (min-width: 280px) {
  body {
    background-color: #f5dce1; }
  .tiendaGrow {
    text-align: center;
    width: 100%; }
  .menuNuevo {
    background-color: #f5dce1;
    margin-top: 3px; }
  .somos {
    color: #f5dce1; }
  .ig {
    width: 3%;
    height: 3%; }
  .tw {
    width: 3%;
    height: 3%; } }

ul .texto, .tituloSecu {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  font-weight: bold; }

/* index*/
body {
  background-color: black; }

.tiendaGrow {
  text-shadow: 2px 2px whitesmoke;
  font-family: "Titillium Web", sans-serif;
  font-size: 50px;
  color: #f5dce1; }

header {
  margin: 10px 5px 5px 5px; }

.menuCentro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.centro {
  display: flex;
  flex-direction: row;
  justify-content: right; }

.navbarColor {
  background-color: #f5dce1; }

.menuNuevo {
  display: flex;
  justify-content: right;
  padding: 2px;
  font-size: 15px;
  justify-content: space-between; }
  .menuNuevo ul li {
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    list-style: none;
    color: #f5dce1;
    margin-top: 30px;
    background-color: #f5dce1;
    display: inline-block;
    margin: 2px;
    padding: 4px;
    position: relative; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #f5dce1; }

@keyframes claselogo {
  from {
    transform: scale(0.5); }
  to {
    transform: scale(1); } }

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .mainContainer .claseLogo {
    width: 400px;
    height: 400px;
    margin: 10px;
    animation-name: claselogo;
    animation-iteration-count: initial;
    animation-duration: 5s;
    animation-timing-function: linear;
    position: relative; }
  .mainContainer .colorPro {
    margin-top: 10px;
    font-family: "Titillium Web", sans-serif;
    color: #f5dce1; }

.colorPro {
  margin-top: 10px;
  font-family: "Titillium Web", sans-serif;
  color: #f5dce1; }

.triple {
  color: #f5dce1; }

div .tres {
  display: flex;
  width: 15%;
  margin-top: 5px; }

div .subtitulo {
  color: #f5dce1;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 20px; }

.piePagina {
  padding: 10px;
  font-family: "Titillium Web", sans-serif;
  border: 1px double whitesmoke; }
  .piePagina div .redes {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    margin-top: 0;
    display: contents;
    color: #f5dce1; }

.ig {
  display: flex;
  width: 3%;
  height: 4%;
  color: #f5dce1; }

.tw {
  display: flex;
  width: 3%;
  height: 4%;
  margin-top: 10px;
  color: #f5dce1; }

.imagenUno {
  display: none; }

#colorSub {
  width: 100%;
  text-align: center;
  color: #f5dce1;
  display: flex;
  flex-direction: column; }
