/* reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/*nosotros*/
.somos {
  background-color: white;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: black;
  margin-top: 15px;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif; }

.nosotros {
  grid-column: 1/3;
  grid-row: 3/4; }

.textoNosotros {
  color: black;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: black;
  background-color: white;
  margin: 0; }

.confianza {
  grid-column: 3/4;
  grid-row: 3/5;
  align-content: center;
  justify-content: center;
  height: 75%; }
  .confianza .secundario {
    color: black;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
    list-style: none;
    font-size: medium; }
  .confianza .texto {
    color: black;
    list-style: none;
    font-weight: bold;
    font-size: small; }

/*Productos*/
.colorSecu {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: black;
  font-weight: bold; }

.padreTres {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 10% 35% 35% 10%; }

.derechos {
  font-family: "Titillium Web", sans-serif;
  font-size: x-small;
  grid-column: 1/4;
  align-items: center;
  display: flex;
  width: 100%; }

ul .adicional {
  background-color: #f5dce1; }

.contenedorRedes {
  grid-column: 1/2; }

.boton {
  color: black; }

.fotoUno {
  width: 20%;
  height: 25%;
  justify-content: center;
  align-items: flex-start;
  grid-column: 1/2; }

.fotoDos {
  width: 20%;
  height: 25%;
  justify-content: center;
  align-items: flex-start;
  grid-column: 2/3; }

.fotoTres {
  width: 20%;
  height: 25%;
  justify-content: center;
  align-items: flex-start;
  grid-column: 3/4; }

.fotoCuatro {
  width: 20%;
  height: 25%;
  justify-content: center;
  align-items: flex-start;
  grid-column: 1/2; }

.fotoCinco {
  width: 20%;
  height: 25%;
  justify-content: center;
  align-items: flex-start;
  grid-column: 2/3; }

.fotoSeis {
  width: 20%;
  height: 25%;
  justify-content: center;
  align-items: flex-start;
  grid-column: 3/4; }

.colorSub {
  color: #006400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  grid-column: 1/3;
  width: 100%; }

/*Cultivo*/
.padreDos {
  height: 100vh;
  display: grid;
  grid-template-areas: "titulo titulo" "menu menu" "parrafo parrafo" "redes footer";
  grid-template-rows: 10% 10% auto 10%;
  grid-template-columns: 50% 50%; }

.tituloSecu {
  list-style: none;
  color: black;
  font-size: x-large; }

.parrafo {
  grid-area: parrafo; }

div .parrafoUno {
  list-style: none;
  color: black;
  font-family: "Titillium Web", sans-serif; }

.colorSemillas {
  list-style: none;
  color: black;
  font-family: "Titillium Web", sans-serif; }

.planta {
  width: 40%;
  height: 440%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px; }

.secundario {
  list-style: none; }

/*contacto*/
.formulario {
  background-color: #f5dce1;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: black;
  border: 3px solid; }

.casilla {
  grid-column: 1/3;
  grid-row: 3/4; }

.colorForm {
  color: black;
  text-align: center; }

.datos {
  color: black; }

/*mediaqueries*/
@media (max-width: 768px) {
  .tiendaGrow {
    text-align: center;
    grid-column: 1; }
  .centro {
    display: flex;
    width: 100%;
    grid-column: 1;
    justify-content: center; }
  .inicio {
    display: none; }
  .detalles {
    grid-column: 1/3;
    grid-row: 3/5;
    list-style: none; }
  .contenedorRedes {
    grid-row: 5/6; }
  .nosotros {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  .confianza {
    grid-column: 1;
    grid-row: unset;
    height: 500px; }
  .somos {
    color: black; }
  .texto {
    font-size: x-small; }
  .ig {
    width: 3%;
    height: 3%; }
  .tw {
    width: 3%;
    height: 3%; }
  .padreTres {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: center; }
  .fotoUno {
    width: unset;
    grid-column: 1; }
  .fotoDos {
    width: unset;
    grid-column: 1; }
  .fotoTres {
    width: unset;
    grid-column: 1; }
  .fotoCuatro {
    width: unset;
    grid-column: 1; }
  .fotoCinco {
    width: unset;
    grid-column: 1; }
  .fotoSeis {
    width: unset;
    grid-column: 1; }
  .colorSub {
    grid-column: 1; } }

.tituloSecu {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  font-weight: bold; }

/* index*/
body {
  background-color: white;
  height: 100%; }

.tiendaGrow {
  text-shadow: 2px 2px black;
  font-family: "Titillium Web", sans-serif;
  font-size: 50px;
  color: #006400;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3; }

.padre {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 10% 35% 35% 10%;
  height: 100vh; }

.menuNuevo {
  background-color: #f5dce1; }

.menuPro {
  grid-column: 1/3;
  width: 100%;
  display: flex;
  z-index: 10; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #f5dce1; }

.inicio {
  width: 300px;
  height: 300px;
  grid-column: 1/2; }

.triple {
  color: black;
  font-family: "Titillium Web", sans-serif; }

div .tres {
  display: flex;
  width: 10%;
  margin-top: 5px; }

div .subtitulo {
  color: black;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 20px; }

.contenedorRedes {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .contenedorRedes .redes {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    display: contents;
    color: #006400;
    font-size: small;
    display: flex; }
  .contenedorRedes .ig {
    display: flex;
    width: 6%;
    height: 6%;
    display: flex; }
  .contenedorRedes .tw {
    display: flex;
    width: 6%;
    height: 6%;
    margin-top: 10px;
    display: flex; }

.derechos {
  font-size: x-small;
  align-items: center;
  display: flex;
  font-family: "Titillium Web", sans-serif; }

#colorSub {
  color: #006400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  grid-column: 1/3;
  grid-row: 5/6;
  width: 100%; }

.headerGrid {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3; }
