/* reset */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


//import
@import "base/variables";
@import "utilities/nosotros";
@import "utilities/productos";
@import "utilities/cultivo";
@import "utilities/contacto";
@import "utilities/mediaqueries";
@import "base/mixin";
@import "base/extend";


/* index*/
body {
    background-color: $colorPrincipal ;
    height: 100%;
}

.tiendaGrow {
    text-shadow: 2px 2px black;
    font-family: $fuenteOriginal;
    font-size: 50px;
    color: #006400;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.padre{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 35% 35% 10%;
    height: 100vh;                     
}
.menuNuevo{
    background-color: $colorSecundario
}
.menuPro{
    grid-column: 1/3;
    width: 100%;
    display: flex;
} 
a {
    font-weight: bold;
    text-decoration: none;
    color: $colorSecundario;
}

.inicio {
    width: 300px;
    height: 300px;
    grid-column: 1/2;
}

.triple{
    color: $textos;
    font-family: $fuenteOriginal;
}
div {
 .tres {
    display: flex;
    width: 10%;
    margin-top: 5px;
   
        }
 .subtitulo {
    color:$textos;
    font-family: $fuenteOriginal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 20px;
        }
}
.contenedorRedes {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .redes {
        font-family: $fuenteOriginal;
        font-weight: bold;
        display: contents;
        color: $opaco;
        font-size: small;
        display: flex;
    }
    .ig {
        display: flex;
        width: 6%;
        height: 6%;
        display: flex;
    
    }
    .tw {
        display: flex;
        width: 6%;
        height: 6%;
        margin-top: 10px;
        display: flex;
    }
}
.derechos{
    font-size: x-small;
    align-items: center;
    display: flex;
    font-family: $fuenteOriginal;
}
#colorSub {
    color: $opaco;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    grid-column: 1/3;
    grid-row: 5/6;
    width: 100%;
}
.headerGrid{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
};

