/* reset */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.menuMobile {
    display: none;
}

//import
@import "base/variables";
@import "utilities/nosotros";
@import "utilities/productos";
@import "utilities/cultivo";
@import "utilities/contacto";
@import "utilities/mediaqueries";
@import "base/mixin";
@import "base/extend";


/* index*/
body {
    background-color: $colorPrincipal ;
}

.tiendaGrow {
    text-shadow: 2px 2px black;
    font-family: $fuenteOriginal;
    font-size: 50px;
    color: #006400;
}

header {
    margin: 10px 5px 5px 5px;
}
.menuPro{
    display:flex;
    width: 100%;
    flex-direction: column-reverse;
}
.menuCentro{
    display: flex;
    flex-direction: row;
}
.centro{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
}
.navbarColor{
    background-color: $colorSecundario;
}
.menuNuevo {
    display: flex;
    justify-content: right;
    padding: 2px;
    font-size:15px;
    justify-content: space-between;
    ul {
        li {
            font-weight: bold;
            font-family: $fuenteOriginal;
            list-style: none;
            color: $colorSecundario;
            margin-top: 30px;
            background-color: $colorSecundario;
            display: inline-block;
            margin: 2px;
            padding: 4px;
            position: relative;
            
        }
    }
}


a {
    font-weight: bold;
    text-decoration: none;
    color: $colorSecundario;
}

@keyframes claselogo {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .claseLogo {
        @include medidas(400px, 400px);
        margin: 10px;
        animation-name: claselogo;
        animation-iteration-count: initial;
        animation-duration: 5s;
        animation-timing-function: linear;
        position: relative;
    }

    .colorPro {
        margin-top: 10px;
        font-family: $fuenteOriginal;
        color: $textos;
    }
}
.triple{
    color: $textos;
    font-family: $fuenteOriginal;
}

div .tres {
    display: flex;
    width: 15%;
    margin-top: 5px;
   
}

div .subtitulo {
    color:$textos;
    font-family: $fuenteOriginal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 20px;


}

.piePagina {
  
    font-family: $fuenteOriginal;
    

    div .redes {
        font-family: $fuenteOriginal;
        font-weight: bold;
        display: contents;
        color: $opaco;
    }
}

.ig {
    display: flex;
    width: 3%;
    height: 4%;
}

.tw {
    display: flex;
    width: 3%;
    height: 4%;
    margin-top: 10px;
}

.imagenUno {
    display: none;
}

#colorSub {
    width: 100%;
    text-align: center;
    color: $opaco;
    display: flex;
    flex-direction: column;

};