/*contacto*/
@import "base/mixin";
.formulario{
    margin: 10px 50px 50px 10px;
    background-image: linear-gradient(to bottom, white, $colorPrincipal);
    box-shadow: 3px 2px;
    @include texto;
 }
.colorForm {
    color:$colorFormulario;
    text-align: center;
}
.colorNombre {
    color: $colorFormulario;
}
.colorApellido {
    color: $colorFormulario;
}
.colorEmail {
    color: $colorFormulario;
};