/*contacto*/
@import "base/mixin";
.formulario{
    margin: 10px 50px 50px 10px;
    background-color:transparent;
    @include texto;
 }
.colorForm {
    color:$textos;
    text-align: center;
}
.colorNombre {
    color: $textos;
}
.colorApellido {
    color: $textos;
}
.colorEmail {
    color: $textos;
};