/*contacto*/
@import "base/mixin";
.formulario{
    background-color:$colorSecundario;
    @include texto;
    border: 3px solid;
 }
 .casilla{
    grid-column: 1/3;
    grid-row: 3/4;
 }
.colorForm {
    color:$textos;
    text-align: center;
}
.datos {
    color: $textos;
}