/*Cultivo*/
.tituloSecu {
    @extend %principal;
    list-style: none;
    color: $colorSecundario;
}
div .parrafoUno{
    list-style: none;
    color: $colorSecundario;
}
.colorSemillas{
    list-style: none;
    color: $colorSecundario;
}
.planta{
    @include medidas(40%, 440%);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}