/*mediaqueries*/ 
@media (max-width: 576px) and (min-width: 280px){
    body{
        background-color: rgb(245, 220, 225);
    }
    .tiendaGrow {
        text-align: center;
        width: 100%;
    }
    .menuNuevo{
        background-color: rgb(245, 220, 225);
        display: flex;
        justify-content: center;
    }
    .somos{
        color: $textos;
    }  
    .texto{
        font-size: x-small;
    }
    .ig{
        width: 3%;
        height: 3%;
    }
    .tw{
        width: 3%;
        height: 3%;
    }
}