/*nosotros*/
@import "base/mixin";
.somos {
    background-color:$colorPrincipal;
    @include texto;
    margin-top: 15px;
    font-weight: bold;
    font-family: $fuenteOriginal
}
.nosotros{
    grid-column: 1/2;
    grid-row: 3/4;
}
.textoNosotros {
    color: $textos;
    @include texto;
    background-color: $colorPrincipal;
    margin: 0;
}
.confianza{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    margin-top: 55px;
    .secundario{
        color: $textos;
        @include texto;
        font-weight: bold;
        list-style: none;
        font-size: medium;
    }
    .texto{
        color: $textos;
        list-style: none;
        font-weight: bold;
        font-size: small;
    }

}


