/*Productos*/
@import "base/mixin";
.colorSecu {
    @include texto;
    font-weight: bold;
    
}
.marcas{
    @include texto;
    font-size:small;
}
ul .adicional{
    background-color: $colorSecundario;
}