//mixin
// con parametros
@mixin texto{
    font-family: $fuenteOriginal;
     text-align: center;
     color: $textos;
}


//sin parametros
@mixin medidas($width, $heigth){
    width: $width;
    height: $heigth;
}
@mixin productos{
    width: 20%;
    height: 25%;
    justify-content: center;
    align-items: flex-start;
}
@mixin productosMobile {
    width: 15%;
    height: 15%;
    justify-content: center;
    align-items: flex-start;
    
}