//mixin
// con parametros
@mixin texto{
    font-family: $fuenteOriginal;
     text-align: center;
     color: $colorSecundario;
}

//sin parametros
@mixin medidas($width, $heigth){
    width: $width;
    height: $heigth;
}